body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  color: rgb(10, 10, 10);
}

a {
  text-decoration: none;
  color: #0366d6;
  opacity: 0.9;
}

a:hover {
  opacity: 0.7;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 3rem;
  margin: 1rem 0 1rem;
}

h2 {
  font-size: 2rem;
  margin: 0.2rem 0 0.5rem;
}

h3 {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.6);
  margin: 0.2rem 0 1rem;
  font-weight: 500;
}

ul {
  line-height: 2rem;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.3rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.3rem;
    margin: 0.2rem 0 1rem;
    font-weight: 500;
  }
}

code {
  position: relative;
  display: inline-block;
  margin: 0 3px;
}

code:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: -3px;
  bottom: 0;
  left: -3px;
  border-radius: 3px;
  background: #eee;
}

blockquote {
  border-left: 2px solid #ddd;
  padding-left: 10px;
  margin: 0 2rem;
}

.center {
  text-align: center;
}

.image-wrapper {
  text-align: center;
}

.image-wrapper img {
  max-height: 500px;
}

.screenshot-wrapper {
  margin-bottom: 1rem;
}

.screenshot-wrapper img {
  border-radius: 8px;
  background: rgb(14, 14, 14);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
}

.iphone-wrapper {
  padding: 15px;
  background: rgb(10, 10, 10);
  margin: 2rem auto;
  border-radius: 50px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15),
    inset -2px -3px 10px rgba(255, 255, 255, 0.3),
    inset -2px -5px 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

.iphone-wrapper.white {
  background: #fff;
}

.iphone-wrapper video,
.iphone-wrapper img {
  margin: 0;
  border-radius: 35px;
  height: 600px;
  max-width: 292px;
}

.desc-wrapper {
  text-align: center;
  line-height: 1.5rem;
  margin-bottom: 3rem;
}

.youtube-embed {
  background: black;
  margin: 30px 0;
  width: 100%;
  position: relative;
  padding-top: 56.25%;
}

.youtube-embed iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
}
